@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	/*background: #34495e;*/
	background: #f1f1f1;
}
@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'ecoicons';
		src: url("../fonts/ecoicons/ecoicons.eot");
		src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: white;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}

.gn-menu-main {
		/*position: fixed;*/
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		/*color: #5f6f81;*/
		color:#008753;
		text-decoration: none;
		cursor: pointer;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background:#008753;
		/*background: #5f6f81;*/
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid #c6d0da;
}
@media screen and (max-width: 886px) {
	.gn-menu-main > li > a {
		padding: 0 10px !important;
	}
}
.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: white;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #5f6f81;
		box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		/*box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;*/
		box-shadow: 0 3px #008753, 0 -6px white, 0 -9px #008753, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		/*background: #5993cd;
		box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;*/
		background: #008753;
		box-shadow: 0 3px white, 0 -6px #008753, 0 -9px white, 0 -12px #008753;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}
.top-clearfix{
	height: 75px;
}
/* Users */
.portlet.box.users-table {
border: 1px solid #008753;
border-top: 0;
}

.portlet.box.users-table > .portlet-title {
background-color: #008753;
}

.portlet.box > .portlet-title {
border-bottom: 0;
padding: 0 10px;
margin-bottom: 0;
color: #FFF;
}

.portlet > .portlet-title {
border-bottom: 1px solid #EEE;
padding: 0;
margin-bottom: 10px;
min-height: 41px;
}

.portlet.box.users-table > .portlet-title > .caption {
color: #fafafa;
}

.portlet.box > .portlet-title > .caption {
padding: 11px 0 9px 0;
}

.purple.btn {
color: #FFF;
background-color: #8E44AD;
border-color: "";
}

.label {
text-shadow: none !important;
font-size: 13px;
font-weight: 300;
padding: 3px 6px 3px 6px;
color: #fafafa;
font-family: "Open Sans", sans-serif;
}

span,a, button{
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}

.portlet > .portlet-title > .caption > i {
float: left;
margin-top: 4px;
display: inline-block;
font-size: 13px;
margin-right: 5px;
}

.portlet > .portlet-title > .caption {
float: left;
display: inline-block;
font-size: 18px;
line-height: 18px;
font-weight: 300;
padding: 10px 0;
font-family: "Open Sans", sans-serif;
}

.new-user {
float: right;
display: inline-block;
padding: 12px 0 8px 0;
}

/* Statistic Block */
.dashboard-stat.blue-soft {
  background-color: #9E9E9E;
}
.dashboard-stat.blue-soft.dashboard-stat-light:hover {
  background-color: #757575;
}
.dashboard-stat.red-soft {
background-color: #9E9E9E;
}
.dashboard-stat.red-soft.dashboard-stat-light:hover {
  background-color: #757575;
}
.dashboard-stat.blue-soft .visual > i,.dashboard-stat.red-soft .visual > i {
  color: white;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat .visual > i {
margin-left: -35px;
font-size: 110px;
line-height: 110px;
}
.dashboard-stat.blue-soft .details .number , .dashboard-stat.red-soft .details .number{
  color: white;
}
.dashboard-stat.blue-soft .details .desc,.dashboard-stat.red-soft .details .desc {
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-soft .more {
  color: white;
  background-color: #447dad;
}
/* General Element */
.bg-blue-soft {
  border-color: #4c87b9 !important;
  background-image: none !important;
  background-color: #4c87b9 !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-blue-soft {
  color: #4c87b9 !important;
}
.dashboard-stat-light {
padding-bottom: 20px;
margin-bottom: 20px;
}
.dashboard-stat {
display: block;
margin-bottom: 25px;
overflow: hidden;
}
.dashboard-stat .visual {
width: 80px;
height: 80px;
display: block;
float: left;
padding-top: 10px;
padding-left: 15px;
margin-bottom: 15px;
font-size: 35px;
line-height: 35px;
}
.dashboard-stat-light .details .number {
  font-weight: 300;
  margin-bottom: 0px;
}
.dashboard-stat .details {
  position: absolute;
  right: 15px;
  padding-right: 15px;
}
.dashboard-stat .details .number {
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0px;
  font-weight: 300;
}
.dashboard-stat .details .desc {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 300;
}